.app {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    min-height: 800px;

    header {
        display: flex;
        flex-flow: column nowrap;
    }

    &-item {
        flex: 1;
        position: relative;
        height: 700px;
        max-width: 600px;
        min-width: 300px;
    }
}