.banner {
    align-items: center;
    background: #DAB00699 0% 0% no-repeat padding-box;
    display: flex;
    gap: 2rem;
    justify-content: center;
    min-height: 50px;
    text-align: center;
    &-text {
        color: $--unnamed-color-165a99;
        font-family: $--unnamed-font-family-exo-2;
        font-size: $--unnamed-font-size-16;
        font-weight: $--unnamed-font-weight-400;
    }
    &-link-text {
        color: $--unnamed-color-001f3c;
        font-family: $--unnamed-font-family-exo-2;
        font-size: $--unnamed-font-size-16;
        font-weight: $--unnamed-font-weight-bold;
        text-decoration: underline;
    }
    &-banner-link-text:hover {
        opacity: 0.7;
    }
}