@font-face {
  font-family: "Exo-bold";
  src: url("../Font/Exo2-Bold.ttf");
}
@font-face {
  font-family: "Exo-semibold";
  src: url("../Font/Exo2-SemiBold.ttf");
}

@font-face {
  font-family: "Exo-light";
  src: url("../Font/Exo2-Light.ttf");
}

@font-face {
  font-family: "Exo-regular";
  src: url("../Font/Exo2-Regular.ttf");
}

.bold {
  font-family: "Exo-bold";
}

.semibold {
  font-family: "Exo-semibold";
}

.light {
  font-family: "Exo-light";
}

.regular {
  font-family: "Exo-regular";
}

body {
  font-family: "Exo-regular";
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  & > li {
    list-style: none;
    & > a {
      text-decoration: none;
    }
  }
}
p {
  margin: 0;
}
a.disabled {
  pointer-events: none;
}

.sectionTitle {
  font-family: "Exo-bold";
  padding: 30px 0;
  margin: 0;
}

.relative {
  position: relative;
}

.sectionSubtitle {
  font-size: 1.2em;
  font-family: "Exo-regular";
}

.cardSubtitle {
  font-size: 1.1em;
  font-family: "Exo-regular";
  width: 100%;
  color: #001f3c;
}

.cardTitle {
  font: normal normal bold 22px/33px "Exo-regular";
  letter-spacing: $--unnamed-character-spacing-0;
  color: $--unnamed-color-001f3c;
}

// div.cardIcon-container {
//     background-color: #fff;
//     padding: 20px;
//     position: absolute;
//     top: -5%;
//     left: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// img.cardIcon {
//   height: 50px;
// }

a.btn.btnOutline,
button.btn.btnOutline {
  border: 1px solid #001f3c;
  color: #001f3c;
  border-radius: 3px;
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-family: "Exo-regular";
}
svg {
  // min-width: 200px;
  image-rendering: -webkit-optimize-contrast;
  &.cardBorder {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none !important;
  }
}

img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.z-1 {
  z-index: 1;
}

video {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}