.newsletter-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1.2rem;
    justify-content: center;

    .newsletter-image {
        flex: 1;
        height: 150px;
        position: relative;
    }

    .newsletter-text {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        justify-content: center;

        h1 {
            color: $--unnamed-color-ffffff;
            font-size: $--unnamed-font-size-16;
            font-weight: $--unnamed-font-weight-500;
        }

        p {
            color: $--unnamed-color-ffffff;
            font-size: $--unnamed-font-size-12;
            font-weight: $--unnamed-font-weight-300;
            line-height: 1.2rem;
        }
    }
}