.certifications {
    @include padding-top-bottom(null, 30, 30);
    align-items: center;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    display: flex;
    gap: 2rem;
    justify-content: center;
    min-height: 500px;

    &-item {
        color: $--unnamed-color-002950;
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        font-family: $--unnamed-font-family-exo-2;
        gap: 2rem;
        justify-content: center;
        max-width: 489px;
        padding: 1rem;
        position: relative;

        h1 {
            @include margin-top-bottom(null, 0, 0);
            font-size: $--unnamed-font-size-30;
            font-weight: $--unnamed-font-weight-500;
        }

        p {
            font-size: $--unnamed-font-size-16;
            font-weight: $--unnamed-font-weight-300;
        }

        &-image {
            position: relative;
            height: 400px;
            width: 500px;
        }
    }
}