.footer {
    color: white;
    background-color: #001f3c;
    @include padding-top-bottom(null, 72, 16);
    & .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        & .logo > svg {
            max-width: 250px;
            padding-right: 1rem;
        }
        & .social {
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            @include padding-top-bottom(null, 0, 25);
        }
    }
    & .legal {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;

        & .piva {
            font: normal normal normal 12px/18px Exo;
            letter-spacing: $--unnamed-character-spacing-0-05;
            color: $--unnamed-color-ffffff;
        }
    }
    & .menu {
        // align-items: center;
        & .privacy {
            display: inline-flex;
            align-items: center;
            // justify-content: space-between;
        }
        & .newsletter {
            & > label {
                font: normal normal normal 14px/21px Exo;
                letter-spacing: $--unnamed-character-spacing-0-03;
                color: $--unnamed-color-ffffff;
            }
            & .signin {
                @include padding-top-bottom(null, 11, 11);
                height: 34px;
                font: normal normal normal 14px/24px Exo;
                & > .input {
                    width: 180px;
                    height: 100%;
                    border-radius: 3px 0 0 3px;
                    box-sizing: border-box;
                    border: 1px solid #000;
                    outline: none;
                }
                & > .button {
                    height: 100%;
                    letter-spacing:$--unnamed-character-spacing-0;
                    color:$--unnamed-color-001f3c;
                    border: 1px solid #001f3c;
                    border-radius: 0px 2px 2px 0px;
                    @include padding-left-right(null, 24, 24);
                }
            }
        }
    }
    & .separator {
        border: 1px solid #ffffff66;
        @include margin-top-bottom(null, 24, 8);
    }
}
.site-info {
    @include margin-left-right(null, 0, 16);
    @extend .pointer;
}
