.job {
    @include padding-left-right(null, 60, 60);
    @include padding-top-bottom(null, 60, 60);
    align-items: center;
    background-color: $--unnamed-color-001f3c;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    display: flex;
    flex-flow: column;
    font-family: $--unnamed-font-family-exo-2;
    justify-content: center;
    min-height: 600px;

    header {
        position: relative;
        text-align: center;
        width: 100%;

        h1 {
            color: $--unnamed-color-39597787;
            font-size: $--unnamed-font-size-78;
            font-weight: $--unnamed-font-weight-300;
        }

        h2 {
            color: $--unnamed-color-ffffff;
            font-size: $--unnamed-font-size-56;
            font-weight: $--unnamed-font-weight-bold;
            position: absolute;
            top: 30%;
            width: 100%;
        }
    }

    &-container {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        max-width: 1000px;

        .job-article {
            background-color: $--unnamed-color-ffffff;
            clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
            display: flex;
            flex-flow: column nowrap;
            gap: 2rem;
            height: 338px;
            justify-content: center;
            width: 289px;

            .job-type {
                align-items: center;
                display: flex;
                flex-flow: row wrap;
                gap: 1rem;
                justify-content: center;
                width: 100%;

                .job-image {
                    flex: 1;
                    height: 70px;
                    position: relative;
                }

                .job-description {
                    display: flex;
                    flex-flow: column nowrap;
                    flex: 2;
                    justify-content: center;
                    position: relative;

                    h1 {
                        color: $--unnamed-color-002950;
                        font-size: $--unnamed-font-size-22;
                        font-weight: $--unnamed-font-weight-500;
                    }

                    p {
                        color: $--unnamed-color-185fa2;
                        font-size: $--unnamed-font-size-16;
                        font-weight: $--unnamed-font-weight-300;   
                    }
                }

            }

            .job-button {
                margin-left: 15px;
                width: 198px;
            }

        }

        span {
            color: $--unnamed-color-ffffff;
            text-align: center;
            text-decoration: underline;
            width: 100%;
        }
    }
}