 .locations {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-around;
    min-height: 700px;
    position: relative;
    path:hover{
        cursor: pointer;
        fill-opacity: .8;
    }
    path.selected{
        fill-opacity:.8;
    }
    &-text {
        font-family: $--unnamed-font-family-exo-2;
        max-width: 500px;

        h1 {
            @include margin-top-bottom(null, 0, 0);
            color: $--unnamed-color-002950;
            font-size: $--unnamed-font-size-40;
            font-weight: $--unnamed-font-weight-bold;
        }

        span {
            @include margin-top-bottom(null, 0, 15);
            color: $--unnamed-color-185fa2;
            display: inline-block;
            font-size: $--unnamed-font-size-16;
            font-weight: $--unnamed-font-weight-bold;
        }

        p {
            color: $--unnamed-color-185fa2;
            font-size: $--unnamed-font-size-16;
            font-weight: $--unnamed-font-weight-300;
        }

        .click-region {
            @include margin-top-bottom(null, 15, 0);
            color: $--unnamed-color-001f3c;
            display: inline-block;
            font-size: $--unnamed-font-size-14;
            font-weight: $--unnamed-font-weight-300;
        }
    }
    &-regione{
        transition: all 500ms ease-in-out;
    }
    &-card {
        @include padding-left-right(null, 30, 30);
        @include padding-top-bottom(null, 30, 30);
        background-color: #155897;
        color: $--unnamed-color-ffffff;
        max-width: 250px;
        position: absolute;
        transform: skewY(355deg);
        &-email {
            text-decoration: underline;
        }
        &-email:hover {
            opacity: .8;
        }
        div {
            transform: skewY(-355deg);
        }
    }
    svg {
        @media only screen and (max-width: 580px) {
            height: calc(100vw - 60px);
        }
    }
}
