.partners {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $--unnamed-color-001f3c;
    @include padding-top-bottom(null, 60, 60);
    gap: 3rem;

    &-card{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
        min-height: 240px;

        &-title{
            flex: 1;
            display: flex;
            height: 100%;
            align-items: center;

            h1 {
                font-weight: $--unnamed-font-weight-bold;
                font-family: $--unnamed-font-family-exo-2;
                font-size: $--unnamed-font-size-40;
                color: $--unnamed-color-ffffff;
            }
        }

        &-image{
            flex: 1;
            display: flex;
            height: 100%;
            background-color: $--unnamed-color-ffffff;
            align-items: center;
            position: relative;

            div {
                margin: 1rem;
            }

        }
    }
}