.products {
    @include padding-top-bottom(null, 50, 50);
    align-items: center;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-flow: column nowrap;
    font-family: $--unnamed-font-family-exo-2;
    justify-content: center;
    min-height: 500px;

    header {
        max-width: 1100px;
        text-align: center;

        h1 {
            color: $--unnamed-color-002950;
            font-size: $--unnamed-font-size-30;
            font-weight: $--unnamed-font-weight-bold;
        }

        p {
            color: $--unnamed-color-185fa2;
            font-size: $--unnamed-font-size-16;
            font-weight: $--unnamed-font-weight-300;
            line-height: 1.6rem;
        }
    }

}