.reengineering {
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $--unnamed-color-001f3c;
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 95%);
    font-family: $--unnamed-font-family-exo-2;

    &-content {
        max-width: 300px;
        color: $--unnamed-color-ffffff;
        position: relative;
        @include margin-top-bottom(null, 90, 0);

        .reengineering-image {
            top: -40%;
            position: absolute;
            height: 72px;
            width: 72px
        }

        h1 {
            font-size: $--unnamed-font-size-30;
            font-weight: $--unnamed-font-weight-500;
        }

        p {
            font-size: $--unnamed-font-size-16;
            font-weight: $--unnamed-font-weight-300;
        }

    }

}