.services-products {
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: $--unnamed-font-family-exo-2;

    header {
        max-width: 1000px;
        text-align: center;

        h1 {
            color: $--unnamed-color-002950;
            font-size: $--unnamed-font-size-40;
            font-weight: $--unnamed-font-weight-bold;
        }

        p {
            color: $--unnamed-color-185fa2;
            font-size: $--unnamed-font-size-16;
            font-weight: $--unnamed-font-weight-300;
        }
    }

    .services-products-content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 1.5rem;
        max-width: 1200px;

    }

}