.youtube-videos {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    min-height: 500px;

    header {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: relative;

        h1 {
            @include margin-top-bottom(null, 0, 0);
        }

        h2 {
            @include margin-top-bottom(null, 0, 0);
        }
    }

    &-content {
        @include padding-top-bottom(null, 30, 30);
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        max-width: 1200px;

        .youtube-card {
            border: none;
        }
    }
}