.bcsoft-strenghts-line-container {
    width: 1000px;
    height: 70px;
    display: inline-block;
    padding: .5em;
}

.bcsoft-strenghts-line-container.perspective {
    perspective: 50em;
}

.bcsoft-strenghts-line-container p {
    margin: 0px;
    font-size: 18px;
    color: #002950;
}

.bcsoft-strenghts-circle {
    width: 8px;
    height: 8px;
    background-color: #155897;
    border-radius: 50%;
}

.bcsoft-strenghts-card {
    margin: .5em;
    width: 4em;
    height: 4em;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.5);
}

.bcsoft-strenghts-line-container.perspective .bcsoft-strenghts-card {
    transform: rotateX(50deg);
}


.bcsoft-strenghts-circle + div {
    background-color: #fff;
}

/*
    ANIMATIONS FADE IN
*/
.fade-in {
    opacity: 0;
    animation: fade-in 1s linear forwards;
}

.fade-in-delay-1 {
    opacity: 0;
    animation: fade-in 1s linear 1s forwards;
}

.fade-in-delay-2 {
    opacity: 0;
    animation: fade-in 1s linear 2s forwards;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*
    MEDIA QUERIES
*/

@media only screen and (max-width: 1000px) {
    .bcsoft-strenghts-line-container {
        width: 400px;
    }

    .bcsoft-strenghts-card {
        width: 3em;
        height: 3em;
    }

    .bcsoft-strenghts-line-container p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 380px) {
    .bcsoft-strenghts-line-container {
        width: 350px;
    }

    .bcsoft-strenghts-card {
        width: 2.8em;
        height: 2.8em;
    }
}